.head{
    background-color: chocolate;
    display: flex;
    justify-content: center;
}

.set{
    display: flex;
}

.left{
    max-width: 50%;
    justify-content: center;
    height: 612px;
    width: 612px;
}

.right{
    max-width: 50%;
}